<% include ../partials/header.ejs %>
<!--title-->
<h1><%= title %></h1>
<!-- Add link -->
<% if (user) { %>
    <a href="/ads/add">Add Ads!</a>
<% } %>
<!-- list of ads -->
<table class="table table-striped table-hover">
    <tr><th>Title</th><th>Description</th><th>Price</th><% if (user) { %><th>Edit/Delete</th> <% } %></tr>

    <% for (var i = 0; i < ads.length; i++) { %>
        <tr>
            <td><%= ads[i].Title %></td>
            <td><%= ads[i].Description %></td>
            <td><%= ads[i].Price %></td>
            <% if (user) { %>
            <td>

                <a href="/ads/edit<%= ads[i]._id %>" class="btn btn-dark">Edit</a>
                <a href="/ads/delete<%= ads[i]._id %>" class="btn btn-danger confirmation">Delete</a>

            </td>
            <% } %>
        </tr>
    <% } %>

</table>
</html>

<% include ../partials/footer.ejs %>
